{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

    <h1>{{ page.home_title }}</h1>
    <h3>{{ page.home_description }}</h3>

    <h4>customer informations</h4>
    <table>
        <tr>
          <th>Customer id</th>
          <th>First name</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Tharuka</td>
          <td>tharu@gmail.com</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Ruwan</td>
          <td>ruwan@gmail.com</td>
        </tr>
      </table>

{% endblock content %}
