{% extends "base.html" %}
<!-- import base template in project templates base.html -->
{% load static wagtailcore_tags customer_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<h1>{{ page.home_title }}</h1>
<h3>{{ page.home_description }}</h3>

<h4>customer informations</h4>
<table class="table table-striped table-hover">
  <tr>
    <th>Customer id</th>
    <th>First name</th>
    <th>Email</th>
    <th>Orders</th>
  </tr>
  {% customers %}
</table>



{% endblock content %}